Repository zawata/S19-Team2, pull requests merged in 2019-03, with the labels that each got.

#29 T81 utc convert
  spyce/inc/spyce.hpp
  spyce/py_wrapper.cpp
  spyce/spyce_main.cpp
Labels: spyce

#34 Mistakenly did this work in a branch not based on dev.
  FlaskServer.py
Labels: server

#42 [US-88 Task-110] Added redux store and connected timeline date displayed
  package-lock.json
  package.json
  web/actions/spaceSceneActions.js
  web/components/TimelineSlider.js
  web/index.js
  web/reducers/index.js
  web/reducers/spaceSceneReducer.js
  web/store.js
Labels: front-end

#40 T96 coverage windows2
  FlaskServer.py
Labels: server

#38 T93 Spyce refactor
  spyce/inc/spyce.hpp
  spyce/inc/spyce_exceptions.hpp
  spyce/py_wrapper.cpp
  spyce/spyce_main.cpp
Labels: spyce
